@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
  background-color: #d5e0ff;
}

.text-white {
    color: white;
}

.btn-custom {
    background-color: #FF8A00;
    color: white;
}

.btn-custom:hover {
    background-color: #ffa238;
    color: white;
}